body{
    background-color: white;
    box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{
    color:black;
}
a{
    text-decoration: none;
    color:#bbb4b4;
    padding-left:0.5em;
    cursor:pointer;
}
a:hover{
    color:black;
    text-decoration: none;
    
}
ul{
    list-style:none;
}
.home_container{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: center;

}
.selectRole{
    text-align: center;
    margin-top:10%;
    background-color:rgb(23 34 102);
    width:500px;
    height:300px;
    box-shadow: 5px 5px 10px 0  rgb(43, 62, 168);
}
.selectRole ul{
    width: 250px;
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-left: 0px;
}
.selectRole ul li{
    text-decoration: none;
}
.selectRole ul li h3{
    font-size:1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label_class{
    color: #4264a5;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.spanClass{
    font-size: 1.3rem;
    color: black;
}
.wallet_dashboard{
    width:90%;
    margin:0 auto;
}
.sub_menu{
    display:flex;
    flex-direction: column;
}
.table_head{
    color:#4264a5;
}
.table_body{
    color:black;
}